/* For the Fonts */
@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA55REGULAR.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA45LIGHT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA75BOLD.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
}

.navbar {
  /* Fix the navigation bar to the top */
  top: 0;
  width: 100%;
  height: 75px;
  background-color: white !important;
  position: fixed;
  z-index: 1000;
}

.navigation-bar {
  list-style-type: none;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0.7em;
  font-family: 'futura';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  background-color: white !important;
}

.navigation-list-item {
  float: left;
  display: flex;
  position: relative;
}

.navigation-links {
  display: flex;
  padding: 15px;
  text-decoration: none;
  color: #414140;
  border-radius: 25px;
  position: relative;
  text-align: center;
}

li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 20px;
  left: 0;
  right: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(0%);
  background: #414140;
  transition: width 0s ease;
}

li a:hover::after {
  width: 80%; /* Expand the line to full width on hover */
}

.active {
  text-decoration: none;
  color: #414140;
}

.active::after {
  display: block;
  padding: 0px;
  text-decoration: none;
  color: #414140;
  width: 80%;
  margin-top: 5px;
}

/* Homepage: Section 1 */
.homepage-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust based on your design */
  overflow: hidden;
}

.homepage-video {
  display: flex;
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage-text {
  position: absolute;
    top: 55%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: #414140;
    text-align: center;
}

.homepage-paragraph {
  font-family: 'futura';
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: #414140;
}

.homepage-heading {
  font-family: 'futura';
  font-weight: 600;
  font-size: 60px;
  font-style: normal;
  color: #414140;
}

.homepage-button {
  background-color: white;
  border: none;
  color: #414140;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'futura';
  font-weight: 400;
  font-size: 16px;
}

.homepage-button:hover {
  padding: 20px 37px;
}