/* For the Fonts */
@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA55REGULAR.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA45LIGHT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA75BOLD.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA65MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

.navbar {
  /* Fix the navigation bar to the top */
  top: 0;
  width: 100%;
  height: 75px;
  background-color: white !important;
  position: fixed;
  z-index: 1000;
}

.navigation-bar {
  list-style-type: none;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0.7em;
  font-family: 'futura';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  background-color: white !important;
}

.navigation-list-item {
  float: left;
  display: flex;
  position: relative;
}

.navigation-links {
  display: flex;
  padding: 15px;
  text-decoration: none;
  color: #414140;
  border-radius: 25px;
  position: relative;
  text-align: center;
}

.navigation-links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 20px;
  left: 0;
  right: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(0%);
  background: #414140;
  transition: width 0s ease;
}

.navigation-links:hover::after {
  width: 80%;
  /* Expand the line to full width on hover */
}

.active {
  text-decoration: none;
  color: #414140;
}

.active::after {
  display: block;
  padding: 0px;
  text-decoration: none;
  color: #414140;
  width: 80%;
  margin-top: 5px;
}

/* Homepage: Section 1 */
.homepage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Adjust based on your design */
  overflow: hidden;
}

.homepage-video {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-text {
  position: absolute;
  top: 55%;
  left: 67%;
  transform: translate(-50%, -50%);
  color: #414140;
  text-align: center;
}

.homepage-paragraph {
  font-family: 'futura';
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: #414140;
}

.homepage-heading {
  font-family: 'futura';
  font-weight: 600;
  font-size: 60px;
  font-style: normal;
  color: #414140;
}

.homepage-button {
  background-color: white;
  border: none;
  color: #414140;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'futura';
  font-weight: 400;
  font-size: 16px;
}

.homepage-button:hover {
  padding: 20px 37px;
}

/* Home Screen: Section 2 */
.homescreen2-container {
  position: relative;
  width: 100%;
  height: 60%;
  /* Adjust based on your design */
  overflow: hidden;
  text-align: center;
}

.homescreen2-heading {
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 600;
  font-size: 50px;
}

.homescreen2-paragraph {
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 400;
  font-size: 20px;
}

.homescreen2-button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'futura';
  font-weight: 400;
  font-size: 16px;
}

.homescreen2-button:hover {
  background-color: #D8CADF;
  color: #414140;
}


/* About Me Page */

.about-me-heading {
  box-sizing: border-box;
  color: #414140;
  display: block;
  font-family: 'futura';
  font-size: 28px;
  font-weight: 700;
  line-height: 31.2px;
  margin-block-end: 12.48px;
  margin-block-start: 0px;
  margin-bottom: 12.48px;
  margin-inline-end: 25px;
  margin-inline-start: 25px;
  text-align: center;
  margin-top: 120px;
}

.about-me-intro-p1 {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 16px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-me-intro-p2 {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-me-profile-pic {
  margin-top: 55px;
  width: 100%;
}

.about-me-name {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 28px;
  font-weight: 700;
  margin-top: 55px;
  margin-left: 5%;
}

.about-me-content {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

.homescreen3-heading {
  box-sizing: border-box;
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 5%;
  color: #414140;
  font-family: 'futura';
  font-size: 30px;
  font-weight: 700;
}

.sample-images-container {
  display: flex;
    flex-wrap: wrap;
}

.sample-image1 {
  max-width: 28%;
  height: 120%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.sample-image1:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.sample-image2 {
  max-width: 28%;
  height: 120%;
  margin-left: 2%;
  margin-bottom: 5%;
}

.sample-image2:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.sample-image3 {
  max-width: 28%;
  height: 120%;
  margin-left: 2%;
  margin-bottom: 5%;
}

.sample-image3:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.view-all-button {
  margin-left: 5%;
  position: relative;
  border: none;
  background-color: white;
  color: #414140;
  font-family: 'futura';
  font-size: 25px;
  font-weight: 500;
}

.view-all-button::after {
  content: ""; /* Empty content */
  display: none; /* Initially hidden */
  position: absolute; /* Position relative to button */
  width: 80%;  /* Adjust width as needed */
  height: 2px;  /* Adjust line height */
  background-color: black; /* Line color */
  left: 12%;  /* Position horizontally */
  bottom: 0;  /* Position at bottom */
  transition: display 0.3s ease-in-out; /* Add hover transition */
}

.view-all-button:hover::after {
  display: block; /* Show the line on hover */
}

.projects-heading {
  box-sizing: border-box;
  margin-top: 120px;
  display: block;
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 700;
  font-size: 36px;
}


/* Projects Gallery */

.projects-gallery {
  width: 80%;
  margin: 0 auto;
}

.projects-gallery ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.projects-gallery li {
  margin: 10px;
  width: 25%;
  outline: none;
  box-shadow: none;
}

.projects-gallery img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

