/* For the Fonts */
@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA55REGULAR.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA45LIGHT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA75BOLD.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('fonts\FUTURA65MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  text-decoration: none; 
  color: inherit; 
}

.navbar {
  top: 0;
  width: 100%;
  height: 75px;
  background-color: white !important;
  position: fixed;
  z-index: 1000;
}

.navigation-bar {
  list-style-type: none;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0.7em;
  font-family: 'futura';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  background-color: white !important;
}

.navigation-list-item {
  float: left;
  display: flex;
  position: relative;
}


.navigation-links {
  display: flex;
  padding: 15px;
  text-decoration: none;
  color: #414140;
  position: relative;
  text-align: center;
}

.navigation-links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 20px;
  left: 0;
  right: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(0%);
  background: #414140;
  transition: width 0s ease;
}

.navigation-links:hover::after {
  width: 80%;
}


.navigation-active {
  padding: 6px;
  border-bottom: 2px solid #414140;
  
}

/* Homepage: Section 1 */
.homepage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.homepage-video {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-text {
  position: absolute;
  top: 55%;
  left: 67%;
  transform: translate(-50%, -50%);
  color: #414140;
  text-align: center;
}

.homepage-paragraph {
  font-family: 'futura';
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: #414140;
}

.homepage-heading {
  font-family: 'futura';
  font-weight: 600;
  font-size: 60px;
  font-style: normal;
  color: #414140;
}

.homepage-button {
  background-color: white;
  border: none;
  color: #414140;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'futura';
  font-weight: 400;
  font-size: 16px;
}

.homepage-button:hover {
  padding: 20px 37px;
}

/* Home Screen: Section 2 */

.homescreen2-container {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  text-align: center;
}

.homescreen2-heading {
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 600;
  font-size: 50px;
}

.homescreen2-paragraph {
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 400;
  font-size: 20px;
}

.homescreen2-button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'futura';
  font-weight: 400;
  font-size: 16px;
}

.homescreen2-button:hover {
  background-color: #D8CADF;
  color: #414140;
}


/* About Me Page */

.about-me-heading {
  box-sizing: border-box;
  color: #414140;
  display: block;
  font-family: 'futura';
  font-size: 28px;
  font-weight: 700;
  line-height: 31.2px;
  margin-block-end: 12.48px;
  margin-block-start: 0px;
  margin-bottom: 12.48px;
  margin-inline-end: 25px;
  margin-inline-start: 25px;
  text-align: center;
  margin-top: 120px;
}

.about-me-intro-p1 {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 16px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-me-intro-p2 {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-me-profile-pic {
  margin-top: 55px;
  width: 100%;
}

.about-me-name {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 28px;
  font-weight: 700;
  margin-top: 55px;
  margin-left: 5%;
}

.about-me-content {
  box-sizing: border-box;
  color: #414140;
  font-family: 'futura';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

.homescreen3-heading {
  box-sizing: border-box;
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 5%;
  color: #414140;
  font-family: 'futura';
  font-size: 30px;
  font-weight: 700;
}

.sample-images-container {
  display: flex;
    flex-wrap: wrap;
}

.sample-image1 {
  max-width: 28%;
  height: 120%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.sample-image1:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.sample-image2 {
  max-width: 28%;
  height: 120%;
  margin-left: 2%;
  margin-bottom: 5%;
}

.sample-image2:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.sample-image3 {
  max-width: 28%;
  height: 120%;
  margin-left: 2%;
  margin-bottom: 5%;
}

.sample-image3:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.view-all-button {
  margin-left: 5%;
  position: relative;
  border: none;
  background-color: white;
  color: #414140;
  font-family: 'futura';
  font-size: 25px;
  font-weight: 500;
}

.view-all-button::after {
  content: ""; 
  display: none; 
  position: absolute; 
  width: 80%;  
  height: 2px;  
  background-color: black; 
  left: 12%;  
  bottom: 0;  
  transition: display 0.3s ease-in-out; 
}

.view-all-button:hover::after {
  display: block; 
}

.projects-heading {
  box-sizing: border-box;
  margin-top: 120px;
  display: block;
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 700;
  font-size: 36px;
}


/* Projects Gallery */

.projects-gallery-container {
  display: flex;
  min-height: 50vh; 
  justify-content: center; 
  align-items: center;
}

.projects-gallery {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.projects-gallery ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.projects-gallery li {
  margin: 20px;
  width: 35%;
  outline: none;
  box-shadow: none;
}

.projects-gallery img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.projects-gallery li:hover img {
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out; 
}


/* Individual Project Page with Project Details */

.x-button {
  margin-top: 120px;
  margin-left: 85%;
}

.x-button button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #414140;
  color: white;
  font-family: 'futura';
  font-family: 600;
  font-size: 26px;
  border-radius: 50px;
}

.x-button button:hover {
  background-color: #727270;
}


.individual-project-image img {
  max-width: 60%;
  height: auto;
  margin-left: 20%;
  margin-left: 20%;
}

.project-image-title {
  margin-top: 65px;
  margin-left: 5%;
  margin-right: 5%;
  color: #414140;
  font-family: 'futura';
  font-weight: 600;
  font-size: 30px;
}

.project-image-desc {
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;
  color: #414140;
  font-family: 'futura';
  font-weight: 400;
  font-size: 24px;
}


/* Home Screen: Section 4 */

.homescreen4-heading {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 600;
  font-size: 50px;
}

.homescreen4-text {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 400;
  font-size: 22px;
}

.homescreen4-button-container {
  text-align: center;
}

.homescreen4-button {
  width: 110px;
  height: 50px;
  margin-bottom: 100px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: 'futura';
  font-weight: 400;
  font-size: 15px;
}

.homescreen4-button:hover {
  background-color: #727270;
}


/* Contact Me Page */
.contact-me-heading {
  margin-top: 140px;
  text-align: center;
  color: #414140;
  font-family: 'futura';
  font-weight: 600;
  font-size: 60px;
}

.contact-me-text {
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  color: #414140;
  font-family: 'futura';
  font-weight: 400;
  font-size: 28px;
}

form {
  width: 35%;
  margin: 0 auto;
  padding: 20px;
}



.name-field {
  width: 100%;
  height: 35px; 
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 3px;
}

.email-field {
  width: 100%;
  height: 35px; 
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 3px;
}

.message-field {
  width: 100%;
  height: 90px; 
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.submit-button {
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  margin-left: 4%;
}



input[type="submit"] {
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  background-color: #be97d2;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #D8CADF
}